/* Put your CSS here */
html, body {
  height: 100%;
}

body {
  background: grey;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}
.logo-text {
  background: green;
  color: blue;
  font-family: lakeshore;
  font-size: 37px;
  text-align: center;
  text-transform: uppercase;
}
.page-title {
  background: teal;
  color: black;
  font-size: 37px;
  text-align: center;
}

.main-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.detail-image {
  width: 90%;
}

.detail-image-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-image {
  display: block;
  width: 100%;
}

.thumbnail-item {
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
  display: inline-block;
  max-width: 120px;
  min-width: 120px;
  width: auto;
  height: auto;
}

.thumbnail-list {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  list-style: none;
  order: 2;
  overflow-x: auto;
  padding: 20px 0;
  white-space: nowrap;
}

.thumbnail-title {
  background: rgb(243, 243, 243);
  color: rgb(36, 22, 21);
  display: block;
  font-size: 18px;
  margin: 0;
  padding: 4px 10px;
}

.hidden-detail .thumbnail-list {
  flex-direction: column;
  align-items: center;
}
